.workerCard {
  position: relative;
  padding: 5px;
  margin: 5px;
  font-size: 1.1em;
  background-color: var(--bg-form);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  min-height: 40px;
  color: var(--text-primary);
}

.workerCard:hover {
  background-color: var(--bg-form);
  transform: scale(1.02);
  transition: transform 0.2s ease, background-color 0.2s ease;
  z-index: 2;
}

.stationsList {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
  width: 200px;
  max-height: 150px;
  overflow-y: auto;
  background-color: var(--bg-secondary);
  border: 1px solid #505068;
  border-radius: 8px;
  padding: 20px;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.stationsList.active {
  display: block;
}

.stationItem {
  font-size: 14px;
  color: var(--navlink-text);
  padding: 5px;
  margin-left: 8px;
  border-bottom: 1px solid #4a4a5d;
}

.stationItem:last-child {
  border-bottom: none;
}

.deleteIcon {
  font-size: 20px;
  color: var(--color-error);
  transition: color 0.2s ease;
}

.deleteIcon2 {
  font-size: 14px;
  color: var(--color-error);
  transition: color 0.2s ease;
}

.deleteIcon2:hover,
.deleteIcon:hover {
  color: #ff1a1a;
}

.updateIcon {
  font-size: 20px;
  color: var(--text-primary);
  transition: color 0.2s ease;
  margin-left: auto;
}

.updateIcon:hover {
  color: #d6c400;
}

.addButton {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #45a049;
}
