.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--bg-form);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  font-size: 28px;
  font-weight: bold;
  color: var(--text-primary);
  text-align: center;
  margin-bottom: 20px;
}

.stationGroups {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.groupColumn {
  flex: 1 1 280px;
  max-width: 20%;
  background-color: var(--bg-secondary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.groupColumn h3 {
  color: var(--text-primary);
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.toggleButton {
  margin: 20px auto;
  padding: 12px 30px;
  background-color: var(--color-accent);
  color: #2b2b3d;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toggleButton:hover {
  background-color: var(--color-accent-hover);
  transform: scale(1.05);
}

.toggleButton:active {
  transform: scale(0.95);
  background-color: #c5b200;
}

.toggleButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}

.addNewStationContainer {
  background-color: var(--bg-secondary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.addStationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.addStationInput {
  font-size: 16px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: var(--bg-primary);
  color: var(--navlink-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  box-sizing: border-box;
}

.addStationInput::placeholder {
  color: #aaa;
}

.addStationButton {
  background-color: var(--color-accent);
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.addStationButton:hover {
  background-color: var(--color-accent-hover);
}

.errorMessage {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 5px;
    margin: 0px;
  }

  .header {
    font-size: 22px;
  }

  .groupColumn {
    max-width: 100%;
  }
}
