.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 95%;
  max-width: 1200px;
  margin: 20px;
  background-color: var(--bg-secondary);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  color: var(--text-primary);
}

.userInfo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding-top: 10px;
}

.logoutButton {
  width: 5rem;
  height: 2rem;
  padding: 0.25rem;
  font-size: 1.25rem;
  border-width: 1.5px;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: var(--color-error);
  color: white;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logoutButton:hover {
  background-color: #cc3333;
  transform: scale(1.05);
}

.greenicon,
.redicon {
  font-size: 24px;
  vertical-align: middle;
}

.greenicon {
  color: var(--color-success);
}

.redicon {
  color: var(--color-error);
}

.themeToggle {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  font-size: 1.25rem;
  border-width: 1.5px;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.button:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .container {
    padding: 5px;
  }

  .header {
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 0px;
  }

  .logoutButton {
    align-self: center;
  }

  .userInfo {
    flex-direction: column;
    align-items: center;
  }
}
