* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: #1e1e2d;
}

/*global styles for Dark/Light Theme */
:root {
  --bg-primary: #1e1e2d;
  --color-accent: #f7e500;
  --bg-secondary: #2b2b3d;
  --bg-form: #3a3a4f;
  --text-primary: #fff;
  --color-success: #4caf50;
  --navlink-bg: #2f80f2;
  --navlink-text: #ffffff;
  --navlink-text-active: #2b2b3d;
  --navlink-bg-active: #f7e500;
  --color-error: #ff4444;
  --color-accent: #f7e500;
  --color-accent-hover: #d6c400;
}
[data-theme='light'] {
  --bg-primary: #ffecba;
  --color-accent: #33425b;
  --bg-secondary: #e1d0a4;
  --bg-form: #c8b992;
  --text-primary: #2c2c42;
  --color-success: #2b2b3d;
  --navlink-bg: #d6b678;
  --navlink-text: #2b2b3d;
  --navlink-bg-active: #d8ae5a;
  --color-error: #2b2b3d;
  --color-accent: #d6b678;
  --color-accent-hover: #d8ae5a;
}

/*global styles for Excel-preview */
#preview-table {
  border-collapse: separate !important;
  border-spacing: 0 8px !important;
  width: max-content;
  font-size: 0.9rem;
}

#preview-table th,
#preview-table td {
  padding: 6px 12px;
  border: 1px solid #444;
  background: rgba(255, 255, 255, 0.05);
  color: var(--text-primary);
}

#preview-table tr:first-child td,
#preview-table thead th {
  background: var(--navlink-bg) !important;
  color: var(--text-primary) !important;
  font-weight: bold;
}

#preview-table tbody tr:nth-child(odd) td {
  background: var(--bg-primary);
}

#preview-table tbody tr:nth-child(even) td {
  background: var(--bg-form);
}

#preview-table tbody tr td[colspan] {
  border: none !important;
  background: transparent;
  height: 12px;
}

@media (max-width: 768px) {
  #preview-table {
    width: 100% !important;
    font-size: 0.8rem !important;
    table-layout: auto !important;
    display: block;
    overflow-x: auto;
  }

  #preview-table th,
  #preview-table td {
    padding: 4px 6px !important;
  }
}
